/* Search box*/
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 150px;
}
#searchButton {
  background-color: DodgerBlue;
  width: 70px;
  color: #fff;
  margin-bottom: 20px;
}



/*<input type="button" id ="clearButton" value="Clear Selections">*/
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.nodeLabel{
  cursor: pointer;
}
.answerBox{
  cursor: pointer;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#clearButton{
  background-color: #DC3445;
  width: 140px;
  color: #fff;
  margin-bottom: 20px;
}


.selectedEdgeType {
stroke: blue !important;
stroke-width: 2!important;
}
.topocontainer {
/*
overflow: scroll;
display:inline-block;
height:600px;
width:600px;
*/
float: left;
display: inline-block;
position: relative;
/*width:1097.28px;*/
width: 57.15%;
/*padding-bottom: 100%;*/
vertical-align: top;
overflow: hidden;
}
.attrcontainer {
/*
overflow: scroll;
display:inline-block;
height:600px;
width:600px;
*/
float: left;
display: inline-block;
position: relative;
/*width:822.72px;*/
width: 42.85%;
/*padding-bottom: 100%;*/
vertical-align: top;
overflow: hidden;
}
/* Hiding topology's scrollbar */
#topology {
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
}
#topology::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}
.highlightedCell{
fill: #FFF4D3;
fill-opacity:1 !important;
}
.column {

}
.highlightCol{
pointer-events: auto;

}
.background {
fill: #eee;
}

div.tooltip {
position: absolute;
text-align: center;
font-size:11px;
width: 80px;
border-radius: 5px;
padding: 2px;
background: white;
border: 0px;
pointer-events: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 0.3s;
}

body {
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
}

line {
pointer-events: none;
}

.hovered {
fill: #fde8ca;
fill-opacity:1 !important;
}

.clickedCell{
  stroke-width:2.5;
  stroke: #ee0000;
  /*rx:5;*
  width:10;
  height:10;*/
}

.clicked{
fill: #F8CF91 !important;
fill-opacity:1 !important;
}

/* most specific */
rect.answer{
fill :#ea9b0f !important;
fill-opacity:1 !important;
}

text.active {
fill: red;
font-weight: bold;
}

text.hovered {
font-weight: 450;
/*fill: #ea9b0f;*/
}
text.clicked {
font-weight: 650;
/*fill: #ea9b0f;*/
}
text.answer {
font-weight: 800;
fill:white;
/*fill: #ea9b0f;*/
}

line {
stroke: #aaa;
opacity: 0.3;
}

#interactiveFreeFormMain{
  width:95%;
  margin-left: auto;
  margin-right:auto;
}

#finished, #next, #previous{
        margin:50px 0px 0px 0px;
        padding:10px;
        background-color:rgb(3, 93, 158);
        color:white;
        font-size:20px;
        font-weight:bold;
    }


.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
/* Panel Info */
#panelControl, #clear-selection{
      background-color:rgb(78, 78, 78);
      color:white;
  }


  #panelDiv .button {
      width:300px;
  }

  #panelDiv{
      height:800px;
      overflow-y: scroll;
  }
/* Loading */
@keyframes loading {
to {transform: rotate(360deg);}
}

.loading:before {
content: '';
box-sizing: border-box;
position: absolute;
top: 50%;
left: 50%;
width: 120px;
height: 120px;
margin-top: -10px;
margin-left: -10px;
border-radius: 50%;
border: 10px solid #ccc;
border-top-color: #000;
animation: loading .6s linear infinite;
}

.loadingGroup{
position: relative;
}
/*
.loading {
position: relative;
left: 50%;
top: 70%;
z-index: 1;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;

-webkit-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;

}
.loadingOverlay{
position: relative;
left:0px;
top:0px;
width:100%;
height:450px;
background-color: rgba(255,255,255,0.3);
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Absolute Center Spinner

.loading {
display:none;
position: absolute;
z-index: 999;
height: 50%;
width: 100%;
margin: auto;
}

/* Transparent Overlay
.loading:before {
content: '';
display: block;
position: absolute;
top: 50;
left: 300;
bottom: 0;
right: 0;
/*width: 100%;
height: 50%;*/
background-color: rgba(255,255,255,0.3);
}

/* :not(:required) hides these rules from IE9 and below
.loading:not(:required) {
/* hide "loading..." text
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}

.loading:not(:required):after {
content: '';
display: block;
font-size: 10px;
width: 1em;
height: 1em;
margin-top: -0.5em;
-webkit-animation: spinner 1500ms infinite linear;
-moz-animation: spinner 1500ms infinite linear;
-ms-animation: spinner 1500ms infinite linear;
-o-animation: spinner 1500ms infinite linear;
animation: spinner 1500ms infinite linear;
border-radius: 0.5em;
-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation

@-webkit-keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@-o-keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
*/
.rows{
  display: flex;
  flex-direction: column;
}
