.search-box {
  padding: 10px 0 20px 0;
  max-width: 300px;
}

.search-box .typeahead__list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0.8
}

.search-box .result-group {
  color: #999;
}
